@page
@model frontend.Pages.Records.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<h4>Records</h4>
<hr />
<p>
    <a asp-page="Create">Create new record</a>
</p>
@if (Model.Records.Count == 0) {
    <p>The list is empty..</p>
} else {
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Records[0].Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Records[0].Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Records[0].Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Records[0].Amount)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Records) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        <a asp-page="Details" asp-route-id="@item.RecordId">Details</a> |
                        <a asp-page="Edit" asp-route-id="@item.RecordId">Edit</a> |
                        <a asp-page="Delete" asp-route-id="@item.RecordId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
